 
 
 <div class="col-md-6">
    <h3>Angular Form Validations</h3>
    <form (ngSubmit)="onSubmit()" #loginForm="ngForm">
      <div class="form-group">
        <div>
            <h3>Log In</h3>
        </div>

        <label for="name">Username</label>
        <input type="text" class="form-control" id="username" [(ngModel)]="username"
               required
               maxlength="13"
               pattern="^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{8,}$"
               [(ngModel)]="model.username" name="username"
               #name="ngModel">
        <div [hidden]="name.valid || name.pristine"
             class="alert alert-danger">
              <div [hidden]="!name.hasError('required')">Name is required</div>
              <div [hidden]="!name.hasError('pattern')">Minimum eight characters, at least one letter and one number</div>
          
        </div>
      </div>
      
      <div class="form-group">
        <label for="name">Password</label>
        <input type="password" class="form-control" id="password"
               required
               pattern="^(?=.*[A-Za-z])(?=.*\d)(?=.*[$@$!%*#?&])[A-Za-z\d$@$!%*#?&]{8,}$"

               [(ngModel)]="model.password" name="password"
               #password="ngModel">
        <div [hidden]="password.valid || password.pristine"
             class="alert alert-danger">
             <div [hidden]="!password.hasError('required')">Name is required</div>
             <div [hidden]="!password.hasError('pattern')">Minimum eight characters, at least one letter, one number and one special character</div>
          
        </div> 
      </div>
      
      <button type="submit" class="btn btn-success btn-block">Submit</button>
    </form>
  </div>
  